/* *{
  box-sizing: border-box;
} */

.user-input{
  width: 100%;
  box-sizing: border-box;
  /* border: 2px solid #ccc; */
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  margin-bottom: 5px;
  /* background-position: 10px 10px;  */
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

h3{
    text-align: center;
    padding: 10px;
}

.btn{
    width: 100%;
    padding: 10px;
}

/* img{
  margin-top: 50px !important;
  margin-left: 5px !important;
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

.img-border{
  background-color: rgb(182, 93, 160);
  margin: 20px;
  margin-left: 120px;
  margin-right: 120px;
}

.details{
  
} */
.result{
  display: flex;
  justify-content: left;
  box-sizing: border-box;
  /* background-color: #a9b4b1; */
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  /* padding: 3rem; */
  width: 100%;
  /* max-width: 500px; */
  /* margin-left: 8rem; */
  margin-top: 10px;
  align-items: center;
}
.card{
  background-color: #b4aaeb;
  align-items: center;
  padding: 3rem;
  border: none;
}



.image {
  /* border: 10px solid #2a2a72; */
  border-radius: 50%;
  height: 150px;
  width: 150px;
  align-content: center;
  margin-top: 5px;

}

.details{
  color: #eee;
  margin-left: 2rem;

}
.details h2{
  margin-top: 0;

}

.details h2, p{
  color: black;
}

.details ul li{
  display: flex;
  align-items: left;
  font-size:medium;
  /* margin-left: 0.5rem; */
  color: black;
  text-decoration: none;
  
}
.details ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  /*set list type to none*/
  padding:0;
  max-width: 400px;
  /*no need for differnet screen config*/

}

.repos li a{
  text-decoration: none;
  color: white;
  

}

.repos li button{
  background-color: rgb(23, 13, 49);
 

}

.repos li button:hover {
  background-color: rgb(49, 30, 71); 
  color: rgb(23, 13, 49); 
}







